@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --clr-first: #ccdfcB;
  --clr-second: #0f1626;
  --clr-third: #fff;
  --clr-four: #031424;
  --clr-five: #fedc3d;
}
body {
  color: var(--clr-first);
  background-color: var(--clr-second);
  margin:0;
  overflow:hidden;
  font-family: 'Open Sans', sans-serif;
}
.environment {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: 48% 52%;
  
}

.section {
  position: absolute;
  display: grid;
  max-width:90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px auto auto ;
  
  transition: transform 1s, opacity 1s;
}
h1 {
  font-size: 2em;
  width: 80%;
  grid-column: 1/-1;
}
p {
  padding: 10px;
}
.gap {
  grid-column: 3/4;
}

.nav {
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 10;
  padding: 20px;
  text-align: center;
  background-color: rgba(0,0,0,0.95);
}
.nav a {
  text-decoration: none;
  color: var(--clr-third);
  margin: 10px;
  cursor: pointer;
}

.nav a+a::before {
  position: absolute;
  margin-left: -11px;
  content:'';
  height: 20px;
  width: 1px;
  background-color: var(--clr-first);
}


#item1 {
  z-index:4;
}
#item2 {
  opacity: 0.2;
  z-index:3;
  transform: translate3d( 0, 0, -2000px );
}
#item3 {
  opacity: 0.2;
  z-index:2;
  transform: translate3d( 0, 0, -4000px );
}
#item4 {
  opacity: 0.2;
  z-index:1;
  transform: translate3d( 0, 0, -6000px );
}


@media only screen and (max-width:590px){
  .section{
    display:block;
  }
  body{
    overflow: scroll;
  }
  .environment {
    align-items: flex-start;
    perspective-origin: 48% 0;
  }
  .nav{
    bottom:0;;
  }
}





